<style>
    angular-app {
        margin: 1rem;
        padding: 1rem;
        border: 1px solid salmon;
        display: block;
    }
</style>
<template id="people-list-template">
    <link rel="stylesheet" type="text/css" href="src/components/user-list/user-list.css">
    <div class="people-list__container">
      <ul class="people-list__list"></ul>
    </div>
</template> 
<template id="people-list-template1">
    <link rel="stylesheet" type="text/css" href="src/components/user-list/user-list.css">
    <div class="people-list__container">
      <ul class="people-list__list"></ul>
    </div>
</template> 
<template id="people-list-template2">
    <link rel="stylesheet" type="text/css" href="src/components/user-list/user-list.css">
    <div class="people-list__container">
      <ul class="people-list__list"></ul>
    </div>
</template> 
<script src="<%= htmlWebpackPlugin.files.chunks['components/angular-comp'].entry %>"></script>
