<!--
<template id='sample-comp-template'>
    <link rel="stylesheet" type="text/css" href="src/components/sample-comp/sample-comp.css">      
    <div class="sample-comp__container">
        <h1>from template</h1>
        <ul class="sample-comp__list"></ul>
    </div>
</template>
<head>

</head>
<body>
        <link rel="stylesheet" type="text/css" href="src/components/sample-comp/sample-comp.css">
        <div class="sample-comp__container">
            <ul class="sample-comp__list"></ul>
        </div>
</body>
-->
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks['components/sample-comp'].entry %>"></script>
    